<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <strong><strong><a href='/directory'>Directory</a></strong>
    <strong><strong><a href='/register'>Create New User</a></strong>
    <h1>Login Now</h1>

    <form method="post" action="/login">
      <input type='text' name='username' placeholder="username">
      <input type='text' name='password' placeholder="password">
      <button type='submit'>Submit</button>
    </form>

  </body>
</html>
