<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>register</title>
  </head>
  <body>
    <strong><strong><a href='/all'>Home</a></strong>
    <h1>Registration</h1>
    <form method="post" action="/register">
      <input type='text' name='username' placeholder="username">
      <input type='password' name='password' placeholder="password">
      <input type='text' name='name' placeholder="name">
      <input type='text' name='address.city' placeholder="city">
      <input type='text' name='address.country' placeholder="country">
      <input type='text' name='company' placeholder="company you work at">
      <input type='email' name='email' placeholder="email">
      <input type='text' name='phone' placeholder="phone number">
      <input type='text' name='university' placeholder=" university ?">
      <input type='text' name='skills' placeholder="skills">
      <button type='submit'>Submit</button>
    </form>


  </body>
</html>
